@import "~bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */
.hover{
  cursor: pointer;
}

.hoverblue {
  cursor: pointer;
}

.hoverblue:hover {
  color: #0169D9;
}